* {
  font-family: Roboto;
}

#navbarButton {
  background-color: #ff3e1e;
  color: white;
}

#first-paragraph {
  color: grey;
  font-size: 18px;
}

#buttonFirst {
  color: white;
  background-color: #ff3e1e;
  border: none;
}

#buttonSecond {
  color: #ff3e1e;
  background-color: #f7d4c9;
  border: none;
}

.header {
  align-items: flex-start;
  position: relative;
}

.header .text-col {
  padding-top: 30px;
}

.header .image-col {
  height: 100%;

  object-fit: cover;
}

.badge {
  background-color: #ff3e1e;
}

.secondContainer {
  background-color: #f5f5f5;
}
